/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: #0037A0;
}

h1 {
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 0px;
}
h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

button {
  background-color: #ff4ab4;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #F60021;
}

.font-image {
  margin: 0 -40px; /* 調整這裡的值來減少圖片之間的間距 */
}

.group-spacing {
  margin-right: 100px; /* 調整這裡的值來增加組之間的間距 */
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center; /* 水平居中 */
  margin-bottom: 10px; /* 增加容器底部的間距 */
  gap: 20px; /* 增加物件之間的間隔 */
}

.input-field {
  flex: 1;
  max-width: 20%; /* 限制輸入欄的最大寬度 */
  padding: 10px; /* 增加輸入欄的內邊距 */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* 增加字體大小 */
}

.mt-4 {
  margin-top: 20px;
}

.p-2 {
  padding: 4px;
}
.p-4 {
  padding: 16px;
}

.bg-white {
  background-color: white;
}

.rounded {
  border-radius: 4px;
}

.limited-width {
  max-width: 800px; /* 限制白色背景的最大寬度 */
  width: 80%;
  margin: 0 auto; /* 使其居中 */
}

pre {
  color: #0037A0; /* 設置文字顏色為深藍色 */
}

.mb-4 {
  margin-bottom: 40px; /* 增加底部間距 */
}

.download-button {
  background-color: #1d4ed8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #2563eb;
}

.font-image {
  mix-blend-mode: darken; /* 設置混合模式為 screen */
}